<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MinPointX" value="0"/>
    <add key="MinPointY" value="0"/>
    <add key="MaxPointX" value="126"/>
    <add key="MaxPointY" value="37"/>
    <add key="PlayerInitPointX" value="110" />
    <add key="PlayerInitPointY" value="25" />
    <add key="EnemyInitPointX" value="10" />
    <add key="EnemyInitPointY" value="8" />
    <add key="FilePath" value="\Resources\Map.txt"/>
    <add key="ScorePointX" value="35"/>
    <add key="ScorePointY" value="2"/>
    <add key="GameSpaceYDiff" value="3"/>
    <add key="GameSpaceXDiff" value="2"/>
    <add key="ResultPointX" value="4"/>
    <add key="ResultPointY" value="35"/>
    <add key="PlayerHealth" value="6"/>
    <add key="EnemyHealth" value="6"/>
    <add key="PlayerHealthPointX" value="115"/>
    <add key="PlayerHealthPointY" value="0"/>
    <add key="EnemyHealthPointX" value="4"/>
    <add key="EnemyHealthPointY" value="0"/>
  </appSettings>
</configuration>