<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MapPointSize" value="5" />
    <add key="ObjectsPointSize" value="8" />
    <add key="CoordinateMultiplier" value="10" />
    <add key="TankInitPointX" value="80" />
    <add key="TankInitPointY" value="20" />
    <add key="EnemyInitPointX" value="10" />
    <add key="EnemyInitPointY" value="9" />
    <add key="BorderXMin" value="1" />
    <add key="BorderYMin" value="6" />
    <add key="BorderXMax" value="107" />
    <add key="BorderYMax" value="47" />
    <add key="PlayerHealth" value="5" />
    <add key="EnemyHealth" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>